/*GLOBAL STYLE*/
.container {
    max-width: calc(1128px + var(--bs-gutter-x));
}

.g-4,
.gx-4 {
    --bs-gutter-x: 39px;
}

.g-5,
.gx-5 {
    --bs-gutter-x: 48px;
}

.container.article-container {
    max-width: calc(548px + var(--bs-gutter-x));
}

/*HEADER*/
.navbar-bottom .navbar {
    flex-direction: row;
    flex-shrink: 0;
    animation: navbar-bottom-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes navbar-bottom-animation {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-50%)
    }
}

.navbar-bottom a {
    padding: 8px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1A1A1A;
    border-right: 2px solid rgba(26, 26, 26, 0.1);
}

.navbar-nav .nav-item a.nav-link:hover,
.posts-grid article .post-btn:hover,
.post-list-grid article .post-btn:hover,
footer .social-media-icon a i:hover,
article a:hover {
    background: #191919;
    color: #FFFFFF;
    border-color: transparent;
}

header .header-divider,
.posts-grid {
    border-bottom: 2.5px solid #191919;
}

.posts-grid {
    border-top: 2.5px solid #191919;
    margin-top: 56px;
    margin-bottom: 56px;
}

.posts-grid article {
    margin-top: 56px;
    margin-bottom: 56px;
}

.navbar-bottom .navbar {
    margin: 22px 0 24px 0;
}

nav.navbar-bottom {
    border-bottom: 2.5px solid #E4E4E4;
}


ul.navbar-nav {
    column-gap: 16px;
}

.navbar-nav .nav-item a.nav-link {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #191919;
    padding: 8px 16px;
    border: 2px solid #191919;
    border-radius: 24px;
}

.navbar-nav .nav-item a.active {
    color: #FFFFFF !important;
    background-color: #191919;
}

#header .navbar-bottom a {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #1A1A1A;
}

#header .navbar-bottom a img {
    margin-right: 8px;
    vertical-align: baseline;
}

.navbar-nav .nav-item a.nav-link svg {
    margin-left: 8px;
    vertical-align: baseline;
}

.navbar-nav .nav-link:hover svg path {
    fill: #FFFFFF;
}

.header-divider {
    padding: 48px 0 32px 0;
}

/*BODY*/
#homepage {
    margin-top: 72px;
}

.posts-hero .main-post h2,
.single-post h2 {
    font-family: Kanit;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
}

.posts-hero .main-post .category,
.posts-hero .main-post .reading-time {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.002em;
    text-align: center;
    color: #191919;
}

.posts-hero .main-post .date-info {
    font-family: Kanit;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #BABABA;
}

.mobile-version {
    display: none;
}

header img.mobile-logo {
    display: none;
}

.posts-grid .g-sm-4 {
    --bs-gutter-x: 39px;
}

.posts-grid article h5 {
    font-family: Kanit;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
}

.post-list-grid article h5 {
    font-family: Kanit;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
}

article h5 {
    margin: 8px 0 16px 0;
}

article .date,
article .time {
    font-family: Kanit;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #BABABA;
}

article .post-btn {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.002em;
    text-align: center;
    color: #191919;
    text-transform: uppercase;
}

article a {
    color: #191919;
    text-decoration: none;
}

.posts-grid article .post-btn {
    border: 2px solid #191919;
    padding: 8px 16px;
    background: transparent;
}

.post-list-grid article .post-btn {
    border: 2px solid #191919;
    padding: 4px 8px;
    background: transparent;
}

.post-list-grid article img {
    max-width: 195px;
    height: 120px;
}

.posts-hero .post-info,
.single-post .post-info {
    padding: 32px 0;
}

.date-info .divider {
    border-bottom: 2.5px solid #BABABA;
    width: 50%;
}

.post-date-time .data-time-col {
    display: flex;
}

article.posts-hero .post-info,
.single-post .post-info {
    display: inline-flex;
    column-gap: 16px;
    row-gap: 16px;
    flex-wrap: wrap;
}

article.posts-hero .post-info div,
.single-post .post-info div {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.002em;
    padding: 8px 16px;
    border: 2px solid #191919;
    text-transform: uppercase;
}

.posts-grid article img {
    margin-bottom: 24px;
}

.posts-grid article .divider,
.post-list-grid .divider {
    border-bottom: 2px solid #BABABA;
    width: 100%;
    min-width: 1em;
}

.article-divider {
    border-bottom: 2.5px solid #191919;
    margin: 56px 0;
}

.post-list-grid .post-list-content {
    max-width: 519px;
}

.post-list-grid .post-img {
    max-width: 480px;
}

.post-list-grid article {
    margin-top: 48px;
    display: flex;
    column-gap: 24px;
}

.post-list-grid article:nth-child(1) {
    margin-top: 0;
}

.page-footer {
    margin-top: 118px;
}

.single-page-footer {
    margin-top: 29px;
}

.page-footer div .row,
.single-page-footer div .row {
    border-top: 2.5px solid #E4E4E4;
}

/*ARTICLE PAGE*/
#article-page {
    margin-top: 29px;
}

article img.yellow-tape {
    width: auto !important;
    margin: 29px 0;
}

.single-post-media-icons a.facebook i {
    margin-bottom: 29px;
}

.single-post-content .main-img {
    margin-top: 76px;
    margin-bottom: 29px;
}

.single-post-content p {
    font-family: 'Kanit';
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #1A1A1A;
    padding-left: 0;
    padding-right: 0;
}

.single-post-content p a.single-post-link {
    font-weight: 500;
    color: #1A1A1A;
}

.yellow-strips {
    margin: 29px 0;
}

.yellow-strips .one {
    width: 552px;
    height: 20px;
    left: 444px;
    top: 640px;
    background: #FFF9AD;
}

.yellow-strips .two {
    width: 528.83px;
    height: 20px;
    left: 444px;
    top: 672px;
    background: #FFF9AD;
    margin-top: 12px;
}

.yellow-strips .three {
    width: 443.21px;
    height: 20px;
    left: 444px;
    top: 705px;
    background: #FFF9AD;
    margin-top: 12px;
}

.yellow-strips .four {
    width: 480.48px;
    height: 20px;
    left: 444px;
    top: 737px;
    background: #FFF9AD;
    margin-top: 12px;
}

.yellow-strips .five {
    width: 254px;
    height: 20px;
    left: 444px;
    top: 769px;
    background: #FFF9AD;
    margin-top: 12px;
}

.single-post-content .shere-btn {
    margin-top: 0;
}

.single-post-content .arrows a i {
    border: 2px solid #BABABA;
    border-radius: 100%;
    color: #BABABA;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.single-post-content .arrows a:nth-child(1) {
    margin: 29px 0;
}

.single-post-content .single-post-media-icons {
    margin: 29px 0;
}

.single-post-content .shere-btn p {
    font-weight: 500;
}

.navbar-toggler,
.navbar-toggler:focus:not(:focus-visible),
.offcanvas-header .btn-close {
    border: none;
    box-shadow: none;
}

/*FOOTER*/
.footer-divider {
    border-bottom: 2.5px solid #D4D4D4;
    margin-top: 118px;
    margin-bottom: 56px;
    width: 100%;
}

footer .social-media-icon a i,
.single-post-media-icons a i {
    border: 2px solid #191919;
    border-radius: 100%;
    color: #191919;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

footer .social-media-icon {
    margin-right: auto;
    display: flex;
    column-gap: 10px;
}

footer .copyright-bar {
    margin-right: 32px;
}

footer .footer-menu ul {
    display: flex;
    column-gap: 32px;
    list-style-type: none;
}

.single-post-footer {
    border-top: 2.5px solid #E4E4E4;
    margin-top: 29px;
}


/*MENU FOOTER*/
.footer-content {
    margin-top: 56px;
    margin-bottom: 88px;
}

.footer-content .copyright-bar {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #BABABA;
}

.footer-content .footer-menu {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #191919;
}

.offcanvas-footer {
    display: none;
}


/*RESPONSIVE*/
@media(max-width: 999px) {
    .post-list-grid .post-img {
        max-width: 100%;
        margin-top: 56px;
    }
}

@media (max-width: 991px) {
    ul li.nav-item {
        padding-bottom: 24px;
    }
}

@media(max-width: 768px) {

    .desktop-version,
    .desktop-logo {
        display: none;
    }

    .mobile-version,
    header img.mobile-logo {
        display: block;
    }

    .offcanvas.show:not(.hiding) {
        width: 100%;
        border-left: none;
    }
}

@media(max-width: 575.98px) {

    .container,
    .row {
        --bs-gutter-x: 44px;
    }

    .page-header .container,
    .page-header .row,
    .page-footer .container,
    .page-footer .row {
        --bs-gutter-x: 48px;
    }

    /*MOBILE MENU HEADER*/
    .offcanvas-body {
        padding: 0 24px;
    }

    .offcanvas-header {
        padding: 24px;
    }

    ul.navbar-nav {
        border-top: 2.5px solid #191919;
        padding-top: 76px;
    }

    ul li.nav-item:last-child {
        padding-bottom: 0;
    }

    ul.navbar-nav li {
        display: flex;
    }

    .offcanvas-footer {
        display: block;
    }

    .navbar-bottom .navbar {
        margin: 6px 0 7px 0;
    }

    /*BODY*/
    #homepage {
        margin-top: 28px;
    }

    .posts-hero {
        display: flex;
    }

    .post-section {
        order: 2;
        margin-top: 24px;
    }

    .posts-hero .main-post h2,
    .single-post h2 {
        font-size: 48px;
        line-height: 48px;
    }

    .posts-hero .post-info,
    .single-post .post-info {
        padding: 24px 0;
    }

    .posts-grid {
        margin: 40px 0;
    }

    .posts-grid article {
        margin: 0 0 32px 0;
    }

    .posts-grid {
        margin: 41px 0 34px 0;
    }

    .posts-grid article img.first {
        margin-top: 40px;
    }

    .posts-grid article img {
        height: 228px;
    }

    .post-list-grid article h5 {
        font-size: 20px;
        line-height: 20px;
    }

    .post-list-content img {
        max-width: 140px !important;
        max-height: 85.39px;
    }

    .post-list-grid article {
        margin-top: 38px;
    }

    .post-list-grid .post-img {
        margin-top: 37px;
    }

    /*ARTICLE PAGE*/
    .single-post-content .main-img::before {
        content: url(file:///C:/Users/Zrinka/Desktop/Info-zona/assets/img/zuta-traka.png);
        position: absolute;
        left: -47px;
        top: -30px;
    }

    .single-post-content .main-img::after {
        content: url(file:///C:/Users/Zrinka/Desktop/Info-zona/assets/img/zuta-traka02.png);
        position: absolute;
        bottom: -30px;
        right: -52px;
    }

    #article-page {
        margin-top: 24px;
    }

    .yellow-paragraph span {
        background: #FFF9AD;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .single-post-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .yellow-strips,
    article img.yellow-tape {
        display: none !important;
    }

    article .shere-btn,
    article .arrows a,
    article .single-post-media-icons a {
        display: none;
    }

    .single-post-content .row div {
        display: grid;
    }

    .single-post-content .yellow-paragraph {
        order: 3;
    }

    .single-post-content .single-post-section {
        order: 1;
    }

    .single-post-content .main-img {
        order: 2;
    }

    .single-post-content .single-paragraph {
        order: 4;
        margin-top: 16px;
    }

    .single-post-content .single-post-media-icons {
        margin: 0;
    }

    .single-post h2 {
        margin-bottom: 0;
    }

    .single-post-content .main-img {
        margin-top: 32px;
        margin-bottom: 36px;
    }

    /*FOOTER*/
    footer .social-media-icon a i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    footer .footer-menu {
        width: 100%;
    }

    .page-footer {
        margin-top: 74px;
    }

    .footer-content {
        margin-bottom: 61px;
        column-gap: 10px;
        row-gap: 10px;
    }

    footer .copyright-bar {
        margin-right: 0;
    }

    .footer-content .footer-menu {
        margin-top: 32px;
        display: grid;
        justify-content: end;
        border-top: 2.5px solid #E4E4E4;
        padding-top: 32px;
    }

    .page-footer {
        border: none;
    }

    .footer-content .footer-menu {
        font-size: 13px;
    }

    footer .footer-menu ul {
        column-gap: 25px;
    }

    .footer-content {
        margin-top: 0px;
    }

    .navbar-toggler {
        padding: 0;
        width: 32px;
        height: 32px;
    }

    .header-divider {
        padding: 24px 0;
        margin: 0;
    }

    .offcanvas-header .btn-close {
        width: 32px;
        height: 32px;
    }

    .page-footer div .row,
    .single-page-footer div .row {
        border: none;
    }

    /*SINGLE-POST-FOOTER*/
    .single-post-footer {
        border-top: none;
    }

    .single-page-footer {
        margin-top: 87px;
    }
}